<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="Environment" value="Development" />
		<add key="EnableDetailedLogging" value="true" />
	</appSettings>

	<!-- THIS IS THE MAGIC FIX FOR 200% DISPLAYS -->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>